<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div class="pagination"><%= will_paginate models %></div>
    <table class="table table-striped">
		<tr>
			<th>#</th>
			<th><%= t('Order Date') %></th>
			<th><%= t('Customer') %></th>
			<th><%= t('Ad Resource') %></th>
			<th><%= t('Order Total($)') %></th>
			<th><%= t('Order Start Date') %></th>
			<th><%= t('Order End Date') %></th>			
			<th><%= t('WF State') %></th>
			<th><%= t('Sales') %></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			
		</tr>
		<% models.each do |r| %>
		  <tr>
		  	<% unless has_action_right?('show', params[:controller], r) %>
		  	  <td><%= prt(r, :id) %></td>
		  	<% else %>
		  	  <td><%= link_to r.id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{order_path(r)}" %></td>
		  	<% end %>
		  	<td><%= r.order_date.strftime("%Y/%m/%d") %></td>
		  	<td><%= AdResourceOrderx.customer_class.find_by_id(r.customer_id).name if r.customer_id.present? %></td>
		  	<td><%= AdResourceOrderx.resource_class.find_by_id(r.resource_id).name if r.resource_id %></td>
		  	<td><%= prt(r, :order_total) %></td>
			<td><%= r.order_start_date.strftime("%Y/%m/%d") if r.order_start_date.present? %></td>
			<td><%= r.order_end_date.strftime("%Y/%m/%d") if r.order_end_date.present? %></td> 
			<td><%= t(prt(r, :wf_state).humanize.titleize) if r.wf_state.present? %></td>
			<td><%= prt(r, 'sales.name') if r.sales_id.present? %></td>    
			<td><%= link_to t('Submit Order'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_order_path(r, :wf_event => 'submit', :resource_id => r.id)}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'initial_state' && has_action_right?('submit', params[:controller], r) %></td>
			<td><%= link_to t('CSO ') + t('Approve'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_order_path(r, :wf_event => 'cso_approve', :resource_id => r.id)}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'cso_reviewing' && has_action_right?('cso_approve', params[:controller], r) %></td>
			<td><%= link_to t('CSO ') + t('Reject'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_order_path(r, :wf_event => 'cso_reject', :resource_id => r.id)}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'cso_reviewing' && has_action_right?('cso_reject', params[:controller], r) %></td>
			<td><%= link_to t('GM ') + t('Approve'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_order_path(r, :wf_event => 'gm_approve', :resource_id => r.id)}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'gm_reviewing' && has_action_right?('gm_approve', params[:controller], r) %></td>
			<td><%= link_to t('GM ') + t('Reject'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_order_path(r, :wf_event => 'gm_reject', :resource_id => r.id)}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'gm_reviewing' && has_action_right?('gm_reject', params[:controller], r) %></td>
		    <td><%= link_to t('GM ') + t('Rewind'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_order_path(r, :wf_event => 'gm_rewind', :resource_id => r.id)}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'gm_reviewing' && has_action_right?('gm_rewind', params[:controller], r) %></td>
		    <td><%= link_to t('Sign Contract'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_order_path(r, :wf_event => 'sign_contract', :resource_id => r.id)}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'approved' && has_action_right?('sign_contract', params[:controller], r) %></td>
		    <td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_order_path(r)}", :class => BUTTONS_CLS['action']  if has_action_right?('update', params[:controller], r) %></td>
			
		  </tr>
		<% end %>
	</table>
	
	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('New Order'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape new_order_path() }", :class => BUTTONS_CLS['action']  if has_action_right?('create', params[:controller]) %>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('Open Process'), SUBURI + "/authentify/view_handler?index=1&url=#{list_open_process_orders_path()}", :class => BUTTONS_CLS['action']  if  has_action_right?('list_open_process', params[:controller]) %>
	    </th>
	  </tr>
	</table>

<% end %>	
